<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <META name="viewport" content="width=device-width, initial-scale=1">
        <title>Justin Good - Demo Page</title>

        <!-- styles -->
        {% style "/bootstrap/css/bootstrap.min.css" %}
        {% style "/css/loading.min.css" %}
        {% style "/css/lightbox.min.css" %}
        {% style "/css/base.min.css" %}
        {% style "/css/ex.min.css" %}
        {% style "/css/screen.css" %}

        </head>
      <body>
        <!-- navbar -->

        <div id="link-bar">
          <div id='links'>

            <img id="profile-pic" src="/assets/pic-silo.svg"
                 data-swap='/assets/pic.png'
                 class=''
                 width="64" height="64" />

            <a href="http://github.com/jgoodhcg" class='nounderline'>
              <img src="/assets/github.svg" width="48" height="48"
                   data-swap='/assets/github-active.svg'
                   class='link-img' />
            </a>
            <a href="http://linkedin.com/in/jgoodhcg" class='nounderline'>
              <img src="/assets/linked_in.svg" width="48" height="48"
                   data-swap="/assets/linked_in-active.svg"
                   class='link-img' />
            </a>
            <a href="/assets/JustinGoodJanuary2016ResumeANDCoverLetter.pdf" class='nounderline'>
              <img src="/assets/resume.svg" width="48" height="48"
                   data-swap="/assets/resume-active.svg"
                   class='link-img' />
            </a>
          </div>
        </div>

        <div>
          {% block content %}
          {% endblock %}
        </div>

        <!-- scripts -->
        {% script "/js/jquery-1.11.3.min.js" %}
        {% script "/js/jquery.xcolor.min.js" %}
        {% script "/js/lightbox.min.js" %}
        {% script "/js/tap.js" %}
        {% script "/js/jquery.tap.js" %}
        {% script "/js/jqueryRotate.js" %}
        {% script "/bootstrap/js/bootstrap.min.js" %}
        {% script "/js/scrollToFixed.min.js" %}
        {% script "/js/d3.min.js" %}
        {% script "/js/underscore.js" %}
        {% script "/js/pixi.min.js" %}
        {% script "/js/moment.min.js" %}
        {% script "/js/moment-range.min.js" %}
        {% script "/js/scrollToFixed.min.js" %}
        {% script "/js/jquery.initialize.js" %}
        <!--  -->
        {% block scripts %}
        {% endblock %}

        <script type="text/javascript">
          var context = "{{servlet-context}}";
        </script>
        {% block page-scripts %}
        {% endblock %}
      </body>
      </html>
