
.excr-chart{
  width: 100%;
}

.excr-chart text{
  fill:black;font:10px sans-serif;
  text-anchor:end
}

.axis text{
  font:10px sans-serif
}

.axis path, .axis line{
  fill:none;
  stroke:#000;
}

.excr-chart-container{
  position:relative
}

.hover-label{
  padding-bottom:15em;
  left:10em
}
